---
layout: page
---

<h2>Hands-On Tutorials</h2>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3>Frontend</h3>

      {% include framework-card.html name="Ember" url="/ember.html" image="ember.svg" %}
      {% include framework-card.html name="React" url="/react.html" image="react.svg" %}
      {% include framework-card.html name="React Native" url="/react-native.html" image="react.svg" %}
      {% include framework-card.html name="Vue" url="/vue.html" image="vue.svg" %}
    </div>
    <div class="col-md-6">
      <h3>Backend</h3>

      {% include framework-card.html name="Ruby on Rails" url="/rails.html" image="rails.svg" %}
      {% include coming-soon-card.html name="Laravel" url="/laravel.html" image="laravel.svg" %}
      {% include coming-soon-card.html name="Spring Framework" url="/spring.html" image="spring.svg" %}
    </div>
  </div>
</div>
