---
layout: page
---

<h2>Hands-On Tutorials</h2>

<div class="text-center mt-5">
  <h3>Frontend</h3>

  {% include framework-card.html name="Ember" url="/ember.html" image="ember.svg" %}
  {% include framework-card.html name="React" url="/react.html" image="react.svg" %}
  {% include framework-card.html name="React Native" url="/react-native.html" image="react.svg" %}
  {% include framework-card.html name="Vue" url="/vue.html" image="vue.svg" %}
</div>
<div class="text-center mt-5">
  <h3>Backend</h3>

  <div class="backend-icons">
    {% include framework-card.html name="Ruby on Rails" url="/rails.html" image="rails.svg" %}
    {% include framework-card.html name="Laravel" url="/laravel.html" image="laravel.svg" %}
    {% include framework-card.html name=".NET Core" url="/dotnetcore.html" image="dotnetcore.svg" %}
    {% include framework-card.html name="Node.js" url="/node.html" image="node.svg" %}
    {% include framework-card.html name="Spring" url="/spring.html" image="spring.svg" %}
    {% include framework-card.html name="Django" url="/django.html" image="django.svg" %}
  </div>
</div>

<p><em>
Don't see the framework you're looking for? Check the official <a href="https://jsonapi.org/implementations/">JSON:API Implementations</a> page for over a hundred more!
</em></p>
